@import uk.gov.hmrc.$!APP_PACKAGE_NAME!$.config.AppConfig
@import views.html.helper.CSPNonce

@this(
        appConfig: AppConfig,
        govukLayout: GovukLayout,
        hmrcHead: HmrcHead,
        hmrcStandardHeader: HmrcStandardHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcScripts: HmrcScripts,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper
)
@(pageTitle: Option[String] = None,
  headBlock: Option[Html] = None,
  scriptsBlock: Option[Html] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@govukLayout(
    pageTitle = pageTitle,
    headBlock = Some(hmrcHead(headBlock = headBlock, nonce = CSPNonce.get)),
    headerBlock = Some(hmrcStandardHeader()),
    scriptsBlock = Some(hmrcScripts(scriptsBlock = scriptsBlock, nonce = CSPNonce.get)),
    beforeContentBlock = if(appConfig.welshLanguageSupportEnabled) Some(hmrcLanguageSelectHelper()) else None,
    footerBlock = Some(hmrcStandardFooter())
)(contentBlock)
